<html>
	
	<head>
		<title>Monster Clicker</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />
	</head>
	<body>
		
		Coins: <span id="coins">0</span>
		<br />
		Pets: <span id="pets">0</span>
		<br />
		Damage Per Click: <span id="damage">10</span>
		<br />
		Pet Attack Speed: <span id="timeInterval">1000</span> milliseconds
		<div class="container">
			<div class="center">
				Level: <span id="level">1</span>
				<br />
				<canvas id="healthBar" width="200" height="10" style="border:1px solid #000000;"></canvas>
			</div>
		</div>
		<div class="container">
			<div class="center">
				<button onclick="Clicked()">ATTACK</button>
			</div>
		</div>
		<button onclick="buyPet()">Buy Pet</button>
		<br />
		Pet Cost: <span id="petCost">10</span>
		<br />
		<button onclick="upgradeDamage()">Upgrade Damage</button>
		<br />
		Damage Upgrade Cost: <span id="upgradeDamageCost">10</span>
		<br />
		<button onclick="upgradeTimeInterval()">Upgrade Attack Speed</button>
		<br />
		Attack Speed Upgrade Cost: <span id="intervalUpgradeCost">12</span>
		<br />
		<script type="text/javascript" src="/static/scripts.js"></script>
	</body>
</html>
