<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>
	<body>
		
		Coins: <span id="coins">0</span>
		Monsters: <span id="monsters">0</span>
		Click Worth: <span id= "clickWorth">1</span>
		<br />
		<div class="container">
			<div class="center">
				<button onclick="Clicked()">Click Me!</button>
			</div>
		</div>
		<button onclick="buyMonster()">Buy Monster</button>
		<br />
		Monster Cost: <span id="monsterCost">10</span>
		<br />
		<button onclick="upgradeClickWorth()">Upgrade Click Worth</button>
		<br />
		Click Upgrade Cost: <span id="upgradeClickCost">11</span>
		<script type="text/javascript" src="scripts.js"></script>
	</body>
</html>
